<!-- header -->
<div
  class="self-stretch h-[50px] overflow-hidden shrink-0 flex items-center justify-start font-encode gap-[10px]"
>
  <h2 class="font-semibold text-[2rem] text-black">My accounts</h2>
  <div
    class="flex items-center self-stretch justify-end flex-1 text-sm font-semibold text-white"
  >
    <button
      *ngIf="accounts.length < 3"
      (click)="createAccount()"
      class="box-border flex flex-row items-center justify-center h-8 px-3 rounded-lg bg-steelblue"
    >
      Create a new account
    </button>
  </div>
</div>

<!-- accounts container -->
<div
  *ngIf="accounts"
  class="flex flex-wrap justify-center gap-12 mt-4 py-12 text-xl text-black border-t-[4px] border-solid border-steelblue"
>
  <!-- account item -->
  <a
    class="hover:opacity-50 transition-all duration-300"
    *ngFor="let account of accounts"
    routerLink="/accounts/{{ account.id }}"
  >
    <div
      class="w-[350px] grid gap-4 py-8 px-8 rounded-md border-[1px] border-solid border-steelblue shadow-md"
    >
      <div class="w-full flex justify-between items-center">
        <h4 class="font-semibold text-xl">
          {{ account.number }}
        </h4>
        <p class="text-lg text-slate-600">
          {{ account.creationDate | date : "dd/MM/yyyy" }}
        </p>
      </div>
      <div>
        <p class="text-center text-xl">
          Balance: <span class="font-semibold">${{ account.balance }}</span>
        </p>
      </div>
    </div>
  </a>
</div>
