<div
  class="border-t border-gray md:min-h-[85vh] md:grid md:justify-center md:items-center bg-neutral-500"
>
  <div
    class="grid justify-center items-center gap-1 bg-white px-20 py-12 md:rounded-md"
  >
    <h2 class="text-2xl font-bold text-center mb-3">Sign in</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-3">
      <div class="grid gap-1">
        <label for="email">Email*</label>
        <input
          type="text"
          id="email"
          placeholder="Email"
          formControlName="email"
          class="border border-gray py-2 px-4 rounded-md w-[285px]"
          [ngClass]="{
            'border-red-700': email?.invalid && (email?.dirty || email?.touched)
          }"
        />
        <div
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          class="text-red-700 text-base"
        >
          <p *ngIf="email?.errors?.['required']">Email is required</p>
          <p *ngIf="email?.errors?.['email']">Email is not valid</p>
        </div>
      </div>
      <div class="grid gap-1">
        <label for="email">Password*</label>
        <input
          type="password"
          id="password"
          placeholder="Password"
          formControlName="password"
          class="border border-gray py-2 px-4 rounded-md w-[285px]"
          [ngClass]="{
            'border-red-700':
              password?.invalid && (password?.dirty || password?.touched)
          }"
        />
        <div
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          class="text-red-700 text-base"
        >
          <p *ngIf="password?.errors?.['required']">Password is required</p>
        </div>
      </div>
      <div class="py-2">
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          class="font-semibold w-full h-8 px-3 block text-white rounded-lg transition-all duration-300"
          [ngClass]="{
            'bg-steelblue border border-steelblue hover:bg-white hover:text-steelblue':
              loginForm.valid,
            'bg-gray': !loginForm.valid
          }"
        >
          Sign in
        </button>
      </div>
    </form>

    <div class="grid justify-center">
      <p>Don't have an account?</p>
      <a
        routerLink="/register"
        class="text-center font-semibold hover:opacity-50 transition-all duration-300"
        >Sign up</a
      >
    </div>
  </div>
</div>
