<div *ngIf="client" class="space-y-6">
  <!-- header -->
  <div class="grid justify-center">
    <h2 class="font-bold text-3xl mt-3">
      {{ client.firstName }} {{ client.lastName }}
    </h2>
    <p class="text-center text-slate-600 font-medium">{{ client.email }}</p>
  </div>
  <div class="space-y-6 xl:space-y-0 xl:flex xl:gap-12 xl:justify-between">
    <div class="space-y-6 mx-auto">
      <!-- accounts -->
      <div>
        <h2 class="font-bold text-2xl mb-3">My accounts</h2>
        <div class="flex flex-wrap justify-center gap-4 text-xl">
          <a
            class="rounded-md hover:bg-steelblue hover:text-white transition-all duration-300"
            *ngFor="let account of client.accounts.$values"
            routerLink="/accounts/{{ account.id }}"
          >
            <div
              class="w-[250px] grid gap-2 py-4 px-4 rounded-md border-[1px] border-solid border-steelblue shadow-md"
            >
              <div class="w-full flex justify-between items-center">
                <h4 class="font-semibold text-lg">
                  {{ account.number }}
                </h4>
                <p class="text-base font-light">
                  {{ account.creationDate | date : "dd/MM/yyyy" }}
                </p>
              </div>
              <div>
                <p class="text-center text-lg">
                  Balance:
                  <span class="font-semibold">${{ account.balance }}</span>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- cards -->
      <div>
        <h2 class="font-bold text-2xl mb-3">My cards</h2>
        <div
          class="self-stretch overflow-hidden flex flex-col items-start justify-start sm:text-xl text-black border-t-[4px] border-solid border-steelblue"
        >
          <div
            *ngFor="let card of client.cards.$values.slice(0, 3)"
            class="box-border w-full h-24 overflow-hidden shrink-0 flex flex-row py-3 px-0 items-center justify-start gap-2 border-b-[1px] border-solid border-gray sm:gap-[30px]"
          >
            <div
              class="self-stretch rounded-lg w-28 scale-[.8] sm:scale-100"
              [ngClass]="{
                '[background:linear-gradient(-68.3deg,_#be8900,_#ffcd4c_49.16%,_#be8900)]':
                  card.color === 'GOLD',
                '[background:linear-gradient(-68.3deg,_#c0c0c0,_#ffffff_49.16%,_#c0c0c0)]':
                  card.color === 'SILVER',
                '[background:linear-gradient(-68.3deg,_#077cc0,_#4ebaf9_49.16%,_#077cc0)]':
                  card.color === 'TITANIUM'
              }"
            ></div>
            <div
              class="flex flex-col items-start self-stretch justify-center flex-1 gap-2 px-0 py-5 overflow-hidden"
            >
              <div class="flex w-full justify-between items-center pr-4">
                <span class="font-semibold">STAGGI {{ card.color }}</span>
                <span class="text-base font-semibold">{{ card.type }}</span>
              </div>
              <div
                class="h-[30px] overflow-hidden shrink-0 flex flex-row py-5 px-0 box-border items-center justify-start gap-4 text-sm text-dimgray sm:gap-8"
              >
                <span class="text-base font-medium sm:text-lg">{{
                  card.number
                }}</span>
                <div
                  class="flex flex-col sm:flex-row sm:items-center justify-start sm:gap-2"
                >
                  <span class="font-medium">Expires</span>
                  <span class="text-sm font-medium sm:text-lg">{{
                    card.thruDate | date : "MM/yy"
                  }}</span>
                </div>
                <div
                  class="flex flex-col sm:flex-row sm:items-center justify-start sm:gap-2"
                >
                  <span class="font-medium">CVV</span>
                  <span class="text-sm font-medium sm:text-lg">{{
                    card.cvv
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid justify-center mt-3">
          <a
            routerLink="/cards"
            class="py-2 px-3 bg-steelblue text-white rounded-lg border border-steelblue hover:bg-white hover:text-steelblue transition-all duration-300"
          >
            See all cards
          </a>
        </div>
      </div>
    </div>

    <!-- transactions -->
    <div class="xl:basis-[30%] mx-auto">
      <h2 class="font-bold text-2xl mb-3 text-center">Latest transactions</h2>
      <table class="w-full bg-neutral-100 rounded-md text-base">
        <thead>
          <tr class="border-b-[1px] border-black">
            <th class="text-left px-2 py-3 sm:px-3">Account</th>
            <th class="text-left px-2 py-3 sm:px-3">Description</th>
            <th class="text-left px-2 py-3 sm:px-3">Date</th>
            <th class="text-left px-2 py-3 sm:px-3">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let transaction of latestTransactions"
            class="border-t-[1px] border-gray"
            [ngClass]="{
              'text-green-700': transaction.amount > 0,
              'text-red-700': transaction.amount <= 0
            }"
          >
            <td class="px-2 py-3 sm:px-3">
              {{ transaction.account }}
            </td>
            <td class="px-2 py-3 sm:px-3">
              {{
                transaction.description.length > 20
                  ? (transaction.description | slice : 0 : 20) + "..."
                  : transaction.description
              }}
            </td>
            <td class="px-2 py-3 sm:px-3">
              {{ transaction.date | date : "dd/MM/yyyy" }}
            </td>
            <td class="px-2 py-3 sm:px-3">{{ transaction.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
