<div class="h-screen sm:flex">
  <div
    class="box-border w-[240px] h-full overflow-hidden flex flex-col items-center justify-start border-r-[1px] border-solid border-gray"
  >
    <div
      id="LogoContainer"
      class="self-stretch h-[110px] overflow-hidden shrink-0 flex flex-col items-center justify-center"
    >
      <img
        class="relative w-[140px] h-auto overflow-hidden shrink-0"
        alt=""
        src="/assets/logocompact-1.svg"
      />
    </div>
    <nav
      class="flex flex-col items-center justify-start w-full px-4 m-0 overflow-hidden text-base text-left text-dimgray font-encode"
    >
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        [routerLinkActiveOptions]="{ exact: true }"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/"
      >
        <div class="relative">Inicio</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/accounts"
      >
        <div class="relative">Cuentas</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/cards"
      >
        <div class="relative">Tarjetas</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/loans"
      >
        <div class="relative">Préstamos</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/transactions"
      >
        <div class="relative">Transferencias</div>
      </a>
      <!-- <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/investment"
      >
        <div class="relative">Inversiones</div>
      </a> -->
      <button
        (click)="logout()"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke active:text-white active:bg-steelblue"
      >
        Cerrar sesión
      </button>
    </nav>
  </div>
  <div class="w-full">
    <!-- <div
      class="box-border w-full h-[60px] overflow-hidden border-b-[1px] border-solid border-gray"
    ></div> -->
    <main class="w-full px-[60px] pt-[32px] pb-0">
      <router-outlet *ngIf="client; else login"></router-outlet>
      <ng-template #login>
        <app-login (userLoggedIn)="getClient()"></app-login>
      </ng-template>
    </main>
  </div>
</div>
