<div class="md:h-screen md:flex">
  <!-- Mobile navbar -->
  <nav
    class="md:hidden fixed top-0 w-full h-16 text-black bg-white shadow-md z-10"
  >
    <div class="w-full h-full flex items-center justify-between px-8">
      <div
        class="hamburger lg:hidden"
        [ngClass]="{ active: openMenu }"
        (click)="toggleMenu()"
      >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <div id="LogoContainer" class="">
        <img class="" alt="" src="/assets/logocompact-1.svg" />
      </div>
    </div>
    <ul
      class="absolute w-full text-left grid items-center justify-center text-base text-dimgray font-encode bg-white shadow-md py-2 border-t border-gray rounded-b-lg transition-all duration-300"
      [ngClass]="{
        'opacity-100 top-16': openMenu,
        'opacity-0 top-[-20rem]': !openMenu
      }"
    >
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        [routerLinkActiveOptions]="{ exact: true }"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-2 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        (click)="toggleMenu()"
        routerLink="/"
      >
        <div class="relative">Inicio</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-2 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        (click)="toggleMenu()"
        routerLink="/accounts"
      >
        <div class="relative">Cuentas</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-2 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        (click)="toggleMenu()"
        routerLink="/cards"
      >
        <div class="relative">Tarjetas</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-2 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        (click)="toggleMenu()"
        routerLink="/loans"
      >
        <div class="relative">Préstamos</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-2 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        (click)="toggleMenu()"
        routerLink="/transactions"
      >
        <div class="relative">Transferencias</div>
      </a>
      <button
        (click)="logout(); toggleMenu()"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-2 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke active:text-white active:bg-steelblue"
      >
        Cerrar sesión
      </button>
    </ul>
  </nav>

  <!-- Desktop navbar -->
  <div
    class="hidden md:flex box-border w-[240px] h-full overflow-hidden flex-col items-center justify-start border-r-[1px] border-solid border-gray"
  >
    <div
      id="LogoContainer"
      class="self-stretch h-[110px] overflow-hidden shrink-0 flex flex-col items-center justify-center"
    >
      <img
        class="relative w-[140px] h-auto overflow-hidden shrink-0"
        alt=""
        src="/assets/logocompact-1.svg"
      />
    </div>
    <nav
      class="flex flex-col items-center justify-start w-full px-4 m-0 overflow-hidden text-base text-left text-dimgray font-encode"
    >
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        [routerLinkActiveOptions]="{ exact: true }"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/"
      >
        <div class="relative">Inicio</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/accounts"
      >
        <div class="relative">Cuentas</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/cards"
      >
        <div class="relative">Tarjetas</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/loans"
      >
        <div class="relative">Préstamos</div>
      </a>
      <a
        [routerLinkActive]="'text-white bg-steelblue hover:!bg-steelblue'"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke"
        routerLink="/transactions"
      >
        <div class="relative">Transferencias</div>
      </a>
      <button
        (click)="logout()"
        class="[text-decoration:none] rounded-xl w-full overflow-hidden flex flex-row py-3.5 px-4 box-border items-center justify-center cursor-pointer text-[inherit] hover:bg-whitesmoke active:text-white active:bg-steelblue"
      >
        Cerrar sesión
      </button>
    </nav>
  </div>
  <div class="w-full">
    <div
      class="box-border w-full h-[60px] overflow-hidden border-b-[1px] border-solid border-gray"
    ></div>
    <main class="px-4 py-4">
      <router-outlet *ngIf="client; else auth"></router-outlet>
      <ng-template #auth>
        <app-register *ngIf="registerRoute; else login"></app-register>
        <ng-template #login>
          <app-login (userLoggedIn)="getClient()"></app-login>
        </ng-template>
      </ng-template>
    </main>
  </div>
</div>
