<div *ngIf="account">
  <h2 class="text-2xl font-bold">{{ account.number }}</h2>
  <p>Balance: ${{ account.balance }}</p>
  <p>Fecha de creación: {{ account.creationDate }}</p>
  <h2 class="text-2xl font-bold">Transacciones</h2>
  <div class="grid gap-4">
    <div *ngFor="let transaction of account.transactions.$values">
      <p>Tipo: {{ transaction.type }}</p>
      <p
        class="{{ transaction.amount > 0 ? 'text-green-700' : 'text-red-700' }}"
      >
        ${{ transaction.amount }}
      </p>
      <p>Descripción: {{ transaction.description }}</p>
      <p>Fecha: {{ transaction.date }}</p>
    </div>
  </div>
</div>
